.sidebar {
    &__panel {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &-head {
            margin-bottom: 10px;
        }
    }

    &__subtitle {
        font-size: 12px;
        text-transform: uppercase;
        color: #5f697d;
        letter-spacing: 0.8px;
        font-weight: 600;
    }

    &__toggleBtn {
        @media screen and(min-width: 992px) {
            display: none;
        }
    }
}

//checkbox
.checkbox {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 6px;
    }

    &__input {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

    &__label {
        display: block;
        padding: 5px 10px 5px 40px;
        font-size: 14px;
        text-transform: capitalize;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: #bce1ffa6;
            opacity: 0;
            transition: all .2s ease;
            border-radius: 4px;
        }
    }

    &__input:checked+&__label {
        &::before {
            opacity: 1;
        }
    }
}