.sidebar {
    position: relative;

    @include media-down(991.98px) {
        margin-bottom: 16px;
    }

    &__panels {
        @include media-down(991.98px) {
            display: none;
            position: absolute;
            top: 22px;
            left: 0;
            width: 100%;
            background-color: #fff;
            z-index: 10;
            padding-top: 10px;
            padding-bottom: 20px;
            border-top: 1px solid;
            margin-top: 10px;

        }

        &.show {
            display: block;
        }
    }

    &__panel {
        &:not(:last-child) {
            margin-bottom: 10px;

            @media screen and(min-width: 992px) {
                margin-bottom: 20px;
            }
        }

        &-head {
            position: relative;
            cursor: pointer;
        }

        &-icon {
            position: absolute;
            top: 50%;
            right: 0;
            width: 14px;
            height: 1px;
            margin-top: -1px;
            display: block;

            &::after,
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 100%;
                height: 100%;
                background-color: #000;
                transition: transform .5s ease;
            }

            &::after {
                transform: rotate(90deg);
            }
        }

        &--open &-icon::after {
            transform: rotate(0);
        }
    }

    &__subtitle {
        font-size: 12px;
        text-transform: uppercase;
        color: #5f697d;
        letter-spacing: 0.8px;
        font-weight: 600;
    }

    &__toggleBtn {
        display: flex;
        align-items: center;
        width: 100%;
        height: 30px;
        border: 0;
        padding: 0;
        background-color: transparent;
        font-weight: 600;
        text-transform: uppercase;

        @include media-up(992px) {
            display: none;
        }

        img {
            width: 16px;
            height: 16px;
            margin-left: 5px;
        }
    }
}

//checkbox
.checkbox {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 6px;
    }

    &__input {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

    &__label {
        display: block;
        padding: 5px 10px 5px 40px;
        font-size: 14px;
        text-transform: capitalize;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: #bce1ffa6;
            opacity: 0;
            transition: all .2s ease;
            border-radius: 4px;
        }
    }

    &__input:checked+&__label {
        &::before {
            opacity: 1;
        }
    }
}